@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: 'Inter', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: #f3f4f6;
}

html:has(.dark) {
  background: #101828;
  @variant dark {
    background: black;
  }
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

.editor h1 {
  @apply font-black text-5xl;
}

.editor h2 {
  @apply font-extrabold text-4xl;
}

.editor h3 {
  @apply font-bold text-3xl;
}

.editor h4 {
  @apply font-semibold text-2xl;
}

.editor h5 {
  @apply font-medium text-xl;
}

.editor h6 {
  @apply font-normal text-lg;
}

.editor p {
  @apply font-normal text-base;
}

.editor ul {
  list-style: disc;
}

.editor ol {
  list-style: decimal;
}

.editor pre {
  background-color: #111827;
  color: #e5e7eb;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.editor pre code {
  background: none;
  color: inherit;
  padding: 0;
  font-size: inherit;
}

.editor p code {
  background-color: #111827;
  color: #e5e7eb;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9rem;
}

.editor blockquote {
  position: relative;
  border-left: 4px solid #e5e7eb;
  background-color: #f3f4f6;
  color: #111827;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  font-style: italic;
  border-radius: 0.5rem;
}
.editor blockquote::before,
.editor blockquote::after {
  font-size: 2rem;
  color: #111827;
  position: absolute;
  font-family: serif;
}

.editor blockquote::before {
  content: '“';
  left: 0.5rem;
  top: 0.25rem;
}

.editor blockquote::after {
  content: '”';
  right: 0.5rem;
  bottom: 0.25rem;
}

.editor hr {
  margin: 2rem 0;
}
