@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: 'Inter', sans-serif;
}

html,
body,
#root {
  @apply w-full h-full bg-gray-100;
}

html:has(.dark) {
  @apply bg-gray-900;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

.editor {
  font-family: var(--font-inter);
}

.editor h1,
.article-container h1 {
  @apply text-3xl md:text-4xl lg:text-5xl font-black;
}

.article-container h1 {
  @apply text-center mb-5;
}

.editor h2,
.article-container h2 {
  @apply text-4xl md:text-3xl lg:text-4xl font-extrabold;
}

.editor h3,
.article-container h3 {
  @apply text-3xl md:text-2xl lg:text-3xl font-bold;
}

.editor h4,
.article-container h4 {
  @apply text-2xl md:text-xl lg:text-2xl font-semibold;
}

.editor h5,
.article-container h5 {
  @apply text-xl md:text-lg lg:text-xl font-medium;
}

.editor h6,
.article-container h6 {
  @apply text-lg md:text-base lg:text-lg font-normal;
}

.editor p {
  @apply text-sm md:text-base font-normal;
}

.editor ul,
.article-container ul {
  @apply list-disc ml-6;
}

.editor ol,
.article-container ol {
  @apply list-decimal ml-6;
}

.editor pre,
.article-container pre {
  @apply bg-gray-900 text-gray-200 p-4 rounded-lg overflow-x-auto text-sm leading-relaxed mb-6;
}

.editor pre code,
.article-container pre code {
  @apply bg-transparent text-inherit p-0 text-inherit;
}

.editor p code,
.article-container p code {
  @apply bg-gray-900 text-gray-200 px-2 py-1 rounded text-sm;
}

.editor blockquote,
.article-container blockquote {
  @apply relative border-l-4 border-gray-200 bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100 p-6 my-6 italic rounded-lg;
}

.editor blockquote::before,
.editor blockquote::after,
.article-container blockquote::before,
.article-container blockquote::after {
  @apply absolute text-3xl text-gray-900 dark:text-gray-100 font-serif;
}

.editor blockquote::before,
.article-container blockquote::before {
  content: '“';
  left: 0.5rem;
  top: 0.25rem;
}

.editor blockquote::after,
.article-container blockquote::after {
  content: '”';
  right: 0.5rem;
  bottom: 0.25rem;
}

.editor hr,
.article-container hr {
  @apply my-8 border-t border-gray-400 dark:border-gray-600;
}

@layer utilities {
  .ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: theme('colors.gray.400');
    pointer-events: none;
    height: 0;
  }

  .ProseMirror h1.is-editor-empty::before,
  .ProseMirror ul.is-editor-empty::before,
  .ProseMirror ol.is-editor-empty::before,
  .ProseMirror pre.is-editor-empty::before {
    content: '';
  }
}

@layer components {
  .swiper-pagination-bullet-custom {
    @apply w-2.5 h-2.5 bg-gray-300 rounded-full opacity-100 mx-1.5 transition-all duration-300;
  }
  .swiper-pagination-bullet-active-custom {
    @apply bg-gray-800;
  }
}

@media (min-width: 1536px) {
  .swiper-pagination-bullet-active-custom {
    @apply hidden;
  }
}

.swiper-button-prev-custom.swiper-button-disabled,
.swiper-button-next-custom.swiper-button-disabled {
  @apply opacity-30;
}

.swiper-pagination-bullet-disabled span {
  display: none !important;
  opacity: 0 !important;
}
